/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require drawingboard.min.css
 */


/*

F9662E E5602E orange
F9442C E4412C red
FBAF6F E5A268 lightorange
D7D391 C6C287 gold

*/

body {
	background-color: #424142;
	font-family: 'Montserrat Alternates', sans-serif;
	color: white;
}

.homelink {
	text-decoration: none;
	transition-duration: 300ms;
	color: white;
	   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.homelink:hover {
	text-decoration: none;
   text-shadow:
       8px 8px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.homelink:visited:hover {
	text-decoration: none;
   text-shadow:
       8px 8px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.homelink:focus {
	text-decoration: none;
	outline: none;
   text-shadow:
       8px 8px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}


.usercount {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
}








.pagething {
	color: white;
}

.pagination {
}

.page {
	padding: 0 5px 0 5px;
}
.page a {
	color: white;
	transition-duration: 300ms;
}
.page a:hover {
	   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.page a:focus {
	   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.current {
	color: white;
	font-weight: bolder;
	   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.next {
}
.next a {
	padding: 0 5px 0 5px;
	color: white;
	transition-duration: 300ms;
}
.next a:hover {
	   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.next a:focus {
	   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.last {
}
.last a {
	padding: 0 5px 0 5px;
	color: white;
	transition-duration: 300ms;
}
.last a:hover {
	   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.last a:focus {
	   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.prev {
}
.prev a {
	padding: 0 5px 0 5px;
	color: white;
	transition-duration: 300ms;
}
.prev a:hover {
	   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.prev a:focus {
	   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.first {
}
.first a {
	padding: 0 5px 0 5px;
	color: white;
	transition-duration: 300ms;
}
.first a:hover {
	   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.first a:focus {
	   text-shadow:
       0px 0px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}









/*  ----------------------------------------  Desktop  ----------------------------------------  */

/*  ----------------------------------------  Desktop  ----------------------------------------  */
@media (min-width: 650.0001px) {
/*  ----------------------------------------  Desktop  ----------------------------------------  */

/*  ----------------------------------------  Desktop  ----------------------------------------  */


.topback {
	background-color: black;
	width: 40%;
	margin: 5px auto;
	border: solid #272822 1px;
	border-radius: 3px;
}
.top {
	font-family: 'Slackey', cursive;
	font-size: 2vw;
	background-color: #E5602E;
	text-align: center;
	padding: 15px 5px 15px 5px;
	border: solid black 5px;
	border-radius: 20px;


}
.top h1 {
	margin: 0

}

.cornerback {
	width: 40%;
	margin: 5px auto;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.corner {
	background-color: #D7D4D7;
	border: solid black 5px;
	border-radius: 20px;
	text-align: center;
}

.currentbox {
	display: inline-block;
	margin: 5px 15px 5px 15px;
	text-align: center;
	text-decoration: none;
	color: white;
	   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.boxes {
	display: inline-block;
	margin: 5px 15px 5px 15px;
	text-align: center;
	text-decoration: none;
	color: black;
	transition-duration: .3s;
}


.boxes:hover {
	color: #FBAF6F;
	/*box-shadow: 0 0 0 4px #75B391;*/
}
.boxes:focus {
	color: #FBAF6F;
	/*box-shadow: 0 0 0 4px #75B391;*/
	outline: none;
}


/*.rcornerback {
	position: fixed;
	right: 3px;
	top: 20px;	
	width: 120px;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.rcorner {
	background-color: white;
	border: solid black 5px;
	border-radius: 20px;
}
.rboxes {
	display: block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	padding: 3px 0px 3px 0px; 
	width: 70px;
	margin: 10px auto;
	font-size: .8em;
	text-decoration: none;
	text-align: center;
	color: black;
	transition-duration: 300ms;
}
*/

.rcornerback {
	width: 80%;
	margin: 5px auto 25px auto;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.rcorner {
	background-color: #E4402C;
	border: solid black 5px;
	border-radius: 20px;
	text-align: center;
}
.rboxes {
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	padding: 3px 0px 3px 0px; 
	width: 70px;
	margin: 3px 15px 3px 15px;
	font-size: .8em;
	text-decoration: none;
	text-align: center;
	color: black;
	transition-duration: 300ms;
}
.rboxes:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}
.rboxes:visited {
}
.rboxes:visited:hover {
}
.rboxes:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}




.headerback {
	background-color: black;
	width: 50%;
	margin: 60px auto 0 auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.header {
	text-align: center;
	background-color: #E4412C;
	padding: 10px;
	border: solid black 5px;
	border-radius: 20px;
}





.mainback {
	background-color: black;
	width: 80%;
	margin: 0 auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.main {
	background-color: #E4412C;
	padding: 20px;
	border: solid black 5px;
	border-radius: 20px;
}




/*--------------------------------------- Parent Drawing ---------------------------------------*/
/*--------------------------------------- Parent Drawing ---------------------------------------*/
/*--------------------------------------- Parent Drawing ---------------------------------------*/



.pdrawback {
	text-align: center;
	width: 520px;
	margin: 0 auto 20px auto;
}
.pdraw {
	display: inline-block;
	margin: 10px auto 0 auto;
	background-color: #FBAF6F;
	border: solid #D7D391 1px;
	border-radius: 3px;
}
.pdraw img {
	width: 500px;
	border: solid #FBAF6F 5px;
	border-radius: 20px;
	margin-bottom: -3px;
}

.pdrawby {
	font-size: 1vw;
	text-align: right;
	text-shadow: none;
	font-weight: normal;
}




.mkdesback {
	background-color: black;
	width: 60%;
	margin: 0 auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.mkdes {
	background-color: #E4412C;
	padding: 10px;
	border: solid black 5px;
	border-radius: 20px;
}
.mkdes h2 {
	margin: 0;
	text-align: center;
}
.newdescription textarea { 
	font-family: 'Montserrat Alternates', sans-serif;
	display: block;
	resize: none;
	width: 90%;
	height: 40px;
	margin: 10px auto;
	border: solid black 5px;
	font-size: 1.4vw;
}
.newdescription textarea:focus {
	border: solid #FDAF69 5px;
	color: black;
	outline: none;
}

.newdescription input[type="Submit"] {
	font-family: 'Montserrat Alternates', sans-serif;
	display: block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	padding: 3px 10px 3px 10px; 
	width: 150px;
	margin: 2px auto;
	font-size: .8em;
	text-decoration: none;
	color: black;

	transition-duration: 300ms;
}
.newdescription input[type="Submit"]:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}
.newdescription input[type="Submit"]:visited {
}
.newdescription input[type="Submit"]:visited:hover {
}
.newdescription input[type="Submit"]:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}


.desdivback {
	background-color: black;
	width: 80%;
	margin: 20px auto 20px;
	border-radius: 3px;
	border: solid #272822 1px;
}
.desdiv {
	margin: 0px auto;
	background-color: #E4412C;
	padding-top: 10px;
	padding-bottom: 100px;
	border: solid black 5px;
	border-radius: 20px;
		text-align: center;
}
.instruct {
	text-align: center;
}




.cdesboxback {
	position: relative;
	display: inline-block;
	margin: 5px 5px 5px 5px;
	width: 70%;
	min-height: 65px;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.cdesbox {
}
.cdes {
	position: absolute;
	top: 0;
	left: 0;
	right: 105px;
	height: 100%;
	box-sizing: border-box;
	margin: auto auto;
	background-color: #E5602E;
	text-align: left;
	border: solid black 5px;
	border-radius: 20px;
	padding: 5px;
	font-size: 1.2vw;
}


.cdeslike {
	position: absolute;
	top: 0;
	right: 0;
	width: 110px;
	height: 100%;
	box-sizing: border-box;
	background-color: #E5602E;
	text-align: left;
	border: solid black 5px;
	border-radius: 20px;}
.stat-des {
	float: left;
	display: inline-block;
	padding-left: 5px; 
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	text-shadow: 0 0 6px white;
}

.likebutton-des {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 5px 2px 0;
	padding: 3px 0px 3px 0px; 
	width: 50px;
	font-size: .8em;
	text-decoration: none;
	color: black;
	text-align: center;
/*	box-shadow: -3px -2px 8px white inset;
*/	transition-duration: 300ms;


}
.likebutton-des:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}

.likebutton-des:visited {

}

.likebutton-des:visited:hover {

}
.likebutton-des:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}


.unlikebutton-des {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 5px 2px 0;
	padding: 3px 0px 3px 0px; 
	width: 50px;
	font-size: .8em;
	text-decoration: none;
	color: black;
	text-align: center;
	transition-duration: 300ms;


}
.unlikebutton-des:hover {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
}

.unlikebutton-des:visited {

}

.unlikebutton-des:visited:hover {

}
.unlikebutton-des:focus {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
	outline: none;
}




.count-des {
	clear: both;
	font-size: .7em;
	padding: 2px 0 2px 0;
	color: black;
	text-align: center;
}
.count-des span {
	font-weight: bold;
}






/*--------------------------------------- Parent Description ---------------------------------------*/
/*--------------------------------------- Parent Description ---------------------------------------*/
/*--------------------------------------- Parent Description ---------------------------------------*/





.pdesback {	
	background-color: #FBAF6F;
	width: 70%;
	margin: 10px auto 10px auto;
	border: solid #D7D391 1px;
	border-radius: 3px;
}
.pdes {
	font-size: 3.5vw;	
	font-weight: bolder;
	text-shadow: 0 0 6px #D7D391;
	text-align: center;
	padding: 10px 10px 10px 10px;
	background-color: #E4412C;
	border: solid #FBAF6F 5px;
	border-radius: 20px;
}
.pdesby {
	font-size: 1vw;
	text-align: right;
	text-shadow: none;
	font-weight: normal;
}



.mkdrawback {
	background-color: black;
	width: 552px;
	margin: 0 auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.mkdraw {
	background-color: #E4412C;
	padding: 10px 0px 20px 0px;
	border: solid black 5px;
	border-radius: 20px;
	text-align: center;
}
.mkdraw h2 {
	margin: 0;
	text-align: center;
}

#createdrawing {
	display: inline-block;
	width: 502px;
	height: 502px;
}


.newdrawing input[type="Submit"] {
	font-family: 'Montserrat Alternates', sans-serif;
	display: block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	padding: 3px 10px 3px 10px; 
	width: 150px;
	margin: 2px auto;
	font-size: .8em;
	text-decoration: none;
	color: black;
/*	box-shadow: -3px -2px 8px white inset;
*/	transition-duration: 300ms;


}
.newdrawing input[type="Submit"]:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}

.newdrawing input[type="Submit"]:visited {

}

.newdrawing input[type="Submit"]:visited:hover {

}
.newdrawing input[type="Submit"]:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}



.drawdivback {
	background-color: black;
	width: 80%;
	margin: 20px auto 20px auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.drawdiv {
	text-align: center;
	background-color: #E4412C;
	padding: 10px;
	border: solid black 5px;
	border-radius: 20px;
}

.cdrawboxback {
	display: inline-block;
	margin: 5px;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.cdrawbox {
	background-color: #E5602E;
	text-align: center;
	border: solid black 5px;
	border-radius: 3px 3px 20px 20px;
}
.cdraw {
	height: 200px;
	border-bottom: solid black 2px;
}
.cdraw img {
	width: 200px;
}


.stat-draw {
	float: left;
	display: inline-block;
	padding-left: 15px; 
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	text-shadow: 0 0 6px white;
}

.likebutton-draw {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 10px 2px 0;
	padding: 3px 0px 3px 0px; 
	width: 50px;
	font-size: .8em;
	text-decoration: none;
	color: black;
/*	box-shadow: -3px -2px 8px white inset;
*/	transition-duration: 300ms;


}
.likebutton-draw:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}

.likebutton-draw:visited {

}

.likebutton-draw:visited:hover {

}
.likebutton-draw:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}


.unlikebutton-draw {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 10px 2px 0;
	padding: 3px 0px 3px 0px; 
	width: 50px;
	font-size: .8em;
	text-decoration: none;
	color: black;
	transition-duration: 300ms;


}
.unlikebutton-draw:hover {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
}

.unlikebutton-draw:visited {

}

.unlikebutton-draw:visited:hover {

}
.unlikebutton-draw:focus {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
	outline: none;
}




.count-draw {
	font-size: .7em;
	padding: 2px;
	clear: both;
	color: black;
}
.count-draw span {
	font-weight: bold;
}







/*--------------------------------------- Login ---------------------------------------*/
/*--------------------------------------- Login ---------------------------------------*/
/*--------------------------------------- Login ---------------------------------------*/






.logindivback {
	background-color: black;
	width: 35%;
	margin: 30px auto;
	border: solid #272822 1px;
	border-radius: 3px;
}
.logindiv {
	height: 146px;
	font-family: 'Slackey', cursive;
	font-size: 2vw;
	background-color: #E5602E;
	text-align: center;
	padding: 15px 5px 15px 5px;
	border: solid black 5px;
	border-radius: 20px;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.login input[placeholder="Username"] {
	width: 50%;
	margin-bottom: 10px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	background-color: white;
	border: solid #E4412C 5px;
	border-radius: 20px;
	transition-duration: 500ms;
}
.login input[placeholder="Username"]:focus {
	border: solid white 5px;
	color: black;
	outline: none;
}



.login input[placeholder="Password"] {
	width: 50%;
	margin-bottom: 10px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	background-color: white;
	border: solid #E4412C 5px;
	border-radius: 20px;
	transition-duration: 500ms;
}
.login input[placeholder="Password"]:focus {
	border: solid white 5px;
	color: black;
	outline: none;
}


.login input[type="Submit"] {
	margin: 2px;
	width: 30%;
	text-decoration: none;
	color: black;
	transition-duration: 300ms;
	text-align: center;
	background-color: white;
	border: solid #E4412C 5px;
	border-radius: 20px;
	transition-duration: 500ms;


}
.login input[type="Submit"]:hover {
	outline: none;
	border: solid white 5px;
}
.login input[type="Submit"]:focus {
	outline: none;
	border: solid white 5px;
}




/*--------------------------------------- Archives ---------------------------------------*/
/*--------------------------------------- Archives ---------------------------------------*/
/*--------------------------------------- Archives ---------------------------------------*/


.aheaderback {
	background-color: black;
	width: 50%;
	margin: 60px auto 0 auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.aheader {
	text-align: center;
	background-color: #E4412C;
	padding: 10px;
	border: solid black 5px;
	border-radius: 20px;
	font-size: 1.5em;
}
.asubheader {
	font-size: .5em;
}


.archivebuttonsback {
	background-color: black;
	width: 80%;
	margin: 20px auto 6px auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.archivebuttons {
	text-align: center;
	background-color: #E4412C;
	padding: 10px;
	border: solid black 5px;
	border-radius: 20px;
}

.archive_button {
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 50px 2px 50px;
	padding: 3px 0px 3px 0px; 
	width: 170px;
	font-size: .8em;
	text-decoration: none;
	color: black;
	transition-duration: 300ms;
}
.archive_button:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
}
.archive_button:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}


.archiveback {
	background-color: black;
	width: 80%;
	margin: 0 auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.archive {
	text-align: center;
	background-color: #E4412C;
	padding: 20px 10px 20px 10px;
	border: solid black 5px;
	border-radius: 20px;
}

.archiveby {
	text-align: center;
	color: black;
}





/*--------------------------------------- Sign Up ---------------------------------------*/
/*--------------------------------------- Sign Up ---------------------------------------*/
/*--------------------------------------- Sign Up ---------------------------------------*/






.signupform {
	text-align: center;
}

.explain {
	font-size: .8em;
	color: #D7D4D7;
}
.field_with_errors {
	display: block;
}
.signupform input {
	margin-bottom: 10px;
	padding: 10px;
	border: solid black 5px;
	transition-duration: 300ms;
}
.signupform input:focus {
	border: solid #FDAF69 5px;
	color: black;
	outline: none;
}
.signupform input[type="Submit"] {
	font-family: 'Montserrat Alternates', sans-serif;
	display: block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	padding: 3px 20px 3px 10px; 
	width: 100px;
	margin: 2px auto;
	font-size: .8em;
	text-decoration: none;
	color: black;
	margin-bottom: 60px;
	transition-duration: 300ms;
}
.signupform input[type="Submit"]:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}
.signupform input[type="Submit"]:visited {
}
.signupform input[type="Submit"]:visited:hover {
}
.signupform input[type="Submit"]:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}





}

























































/*  ----------------------------------------  Mobile  ----------------------------------------  */

/*  ----------------------------------------  Mobile  ----------------------------------------  */
@media (max-width: 650px) {
/*  ----------------------------------------  Mobile  ----------------------------------------  */

/*  ----------------------------------------  Mobile  ----------------------------------------  */


.topback {
	background-color: black;
	width: 60%;
	margin: 10px auto 5px auto;
	border: solid #272822 1px;
	border-radius: 3px;
}
.top {
	font-family: 'Slackey', cursive;
	font-size: 3vw;
	background-color: #E5602E;
	text-align: center;
	padding: 15px 5px 15px 5px;
	border: solid black 5px;
	border-radius: 20px;
}
.top h1 {
	margin: 0

}

.cornerback {
	width: 60%;
	margin: 5px auto;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.corner {
	background-color: #D7D4D7;
	border: solid black 5px;
	border-radius: 20px;
	text-align: center;
}

.currentbox {
	display: inline-block;
	margin: 5px 15px 5px 15px;
	text-align: center;
	text-decoration: none;
	color: white;
	   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.boxes {
	display: inline-block;
	margin: 5px 15px 5px 15px;
	text-align: center;
	text-decoration: none;
	color: black;
	transition-duration: .3s;
}

.boxes:hover {
	color: #FBAF6F;
	/*box-shadow: 0 0 0 4px #75B391;*/
}
.boxes:focus {
	color: #FBAF6F;
	/*box-shadow: 0 0 0 4px #75B391;*/
	outline: none;
}


.rcornerback {
	width: 95%;
	margin: 5px auto 25px auto;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.rcorner {
	background-color: #FA432B;
	border: solid black 5px;
	border-radius: 20px;
	text-align: center;
}
.rboxes {
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	padding: 0px 0px 0px 0px; 
	width: 70px;
	margin: 3px 15px 3px 15px;
	font-size: .8em;
	text-decoration: none;
	text-align: center;
	color: black;
	transition-duration: 300ms;
}
.rboxes:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}
.rboxes:visited {
}
.rboxes:visited:hover {
}
.rboxes:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}




.headerback {
	background-color: black;
	width: 95%;
	margin: 5px auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.header {
	font-size: 3vw;
	text-align: center;
	background-color: #E4412C;
	padding: 5px;
	border: solid black 5px;
	border-radius: 20px;
}





.mainback {
	background-color: black;
	width: 80%;
	margin: 0 auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.main {
	background-color: #E4412C;
	padding: 20px;
	border: solid black 5px;
	border-radius: 20px;
}




/*--------------------------------------- Parent Drawing ---------------------------------------*/
/*--------------------------------------- Parent Drawing ---------------------------------------*/
/*--------------------------------------- Parent Drawing ---------------------------------------*/



.pdrawback {
	text-align: center;
	width: 100%;
	margin: 0px auto;
}
.pdraw {
	display: inline-block;
	margin: 10px auto 0 auto;
	background-color: #FBAF6F;
	border: solid #D7D391 1px;
	border-radius: 3px;
}
.pdraw img {
	width: 95%;
	border: solid #FBAF6F 5px;
	border-radius: 20px;
	margin-bottom: -3px;
}

.pdrawby {
	font-size: 4vw;
	text-align: right;
	text-shadow: none;
	font-weight: normal;
}




.mkdesback {
	background-color: black;
	width: 98%;
	margin: 0 auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.mkdes {
	background-color: #E4412C;
	padding: 10px;
	border: solid black 5px;
	border-radius: 20px;
}
.mkdes h2 {
	margin: 0;
	text-align: center;
}
.newdescription textarea { 
	font-family: 'Montserrat Alternates', sans-serif;
	display: block;
	resize: none;
	width: 90%;
	height: 40px;
	margin: 10px auto;
	border: solid black 5px;
	font-size: 3vw;
}
.newdescription textarea:focus {
	border: solid #FDAF69 5px;
	color: black;
	outline: none;
}

.newdescription input[type="Submit"] {
	font-family: 'Montserrat Alternates', sans-serif;
	display: block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	padding: 3px 10px 3px 10px; 
	width: 150px;
	margin: 2px auto;
	font-size: .8em;
	text-decoration: none;
	color: black;

	transition-duration: 300ms;
}
.newdescription input[type="Submit"]:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}
.newdescription input[type="Submit"]:visited {
}
.newdescription input[type="Submit"]:visited:hover {
}
.newdescription input[type="Submit"]:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}


.desdivback {
	background-color: black;
	width: 95%;
	margin: 5px auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.desdiv {
	margin: 0px auto;
	background-color: #E4412C;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid black 5px;
	border-radius: 20px;
		text-align: center;
}
.instruct {
	font-size: 10px;
	text-align: center;
}




.cdesboxback {
	position: relative;
	display: inline-block;
	margin: 5px 0px 5px 0px;
	width: 98%;
	min-height: 60px;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.cdesbox {
}
.cdes {
	position: absolute;
	top: 0;
	left: 0;
	right: 85px;
	height: 100%;
	box-sizing: border-box;
	margin: auto auto;
	background-color: #E5602E;
	text-align: left;
	border: solid black 5px;
	border-radius: 20px;
	padding: 5px;
	font-size: 10px;
}


.cdeslike {
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	height: 100%;
	box-sizing: border-box;
	background-color: #E5602E;
	text-align: left;
	border: solid black 5px;
	border-radius: 20px;}
.stat-des {
	float: left;
	display: inline-block;
	padding-left: 5px; 
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	text-shadow: 0 0 6px white;
}

.likebutton-des {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 5px 2px 0;
	padding: 3px 0px 3px 0px; 
	width: 50px;
	font-size: .8em;
	text-decoration: none;
	color: black;
	text-align: center;
/*	box-shadow: -3px -2px 8px white inset;
*/	transition-duration: 300ms;


}
.likebutton-des:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}

.likebutton-des:visited {

}

.likebutton-des:visited:hover {

}
.likebutton-des:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}


.unlikebutton-des {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 5px 2px 0;
	padding: 3px 0px 3px 0px; 
	width: 50px;
	font-size: .8em;
	text-decoration: none;
	color: black;
	text-align: center;
	transition-duration: 300ms;


}
.unlikebutton-des:hover {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
}

.unlikebutton-des:visited {

}

.unlikebutton-des:visited:hover {

}
.unlikebutton-des:focus {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
	outline: none;
}




.count-des {
	clear: both;
	font-size: .5em;
	padding: 2px 0 2px 0;
	color: black;
	text-align: center;
}
.count-des span {
	font-weight: bold;
}






/*--------------------------------------- Parent Description ---------------------------------------*/
/*--------------------------------------- Parent Description ---------------------------------------*/
/*--------------------------------------- Parent Description ---------------------------------------*/





.pdesback {	
	background-color: #FBAF6F;
	width: 98%;
	margin: 5px auto;
	border: solid #D7D391 1px;
	border-radius: 3px;
}
.pdes {
	font-size: 5vw;	
	font-weight: bolder;
	text-shadow: 0 0 6px #D7D391;
	text-align: center;
	padding: 10px 5px 5px 5px;
	background-color: #E4412C;
	border: solid #FBAF6F 5px;
	border-radius: 20px;
}
.pdesby {
	font-size: 1vw;
	text-align: right;
	text-shadow: none;
	font-weight: normal;
}



.mkdrawback {
	background-color: black;
	width: 98%;
	margin: 0 auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.mkdraw {
	background-color: #E4412C;
	/*padding: 10px 20px 20px 20px;*/
	border: solid black 5px;
	border-radius: 20px;
	text-align: center;
}
.mkdraw h2 {
	margin: 0;
	text-align: center;
}

#createdrawing {
	display: inline-block;
	width: 302px;
	height: 302px;

}


.newdrawing input[type="Submit"] {
	font-family: 'Montserrat Alternates', sans-serif;
	display: block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	padding: 3px 10px 3px 10px; 
	width: 150px;
	margin: 2px auto;
	font-size: .8em;
	text-decoration: none;
	color: black;
/*	box-shadow: -3px -2px 8px white inset;
*/	transition-duration: 300ms;
}


.newdrawing input[type="Submit"]:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}

.newdrawing input[type="Submit"]:visited {

}

.newdrawing input[type="Submit"]:visited:hover {

}
.newdrawing input[type="Submit"]:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}



.drawdivback {
	background-color: black;
	width: 95%;
	margin: 5px auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.drawdiv {
	text-align: center;
	background-color: #E4412C;
	padding: 5px;
	border: solid black 5px;
	border-radius: 20px;
}



.cdrawboxback {
	display: inline-block;
	margin: 5px;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.cdrawbox {
	background-color: #E5602E;
	text-align: center;
	border: solid black 5px;
	border-radius: 3px 3px 20px 20px;
}
.cdraw {
	height: 120px;
	border-bottom: solid black 2px;
}
.cdraw img {
	width: 120px;
}


.stat-draw {
	float: left;
	display: inline-block;
	padding-left: 15px; 
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	text-shadow: 0 0 6px white;
}

.likebutton-draw {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 10px 2px 0;
	padding: 3px 0px 3px 0px; 
	width: 50px;
	font-size: .8em;
	text-decoration: none;
	color: black;
/*	box-shadow: -3px -2px 8px white inset;
*/	transition-duration: 300ms;


}
.likebutton-draw:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}

.likebutton-draw:visited {

}

.likebutton-draw:visited:hover {

}
.likebutton-draw:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}


.unlikebutton-draw {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 10px 2px 0;
	padding: 3px 0px 3px 0px; 
	width: 50px;
	font-size: .8em;
	text-decoration: none;
	color: black;
	transition-duration: 300ms;


}
.unlikebutton-draw:hover {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
}

.unlikebutton-draw:visited {

}

.unlikebutton-draw:visited:hover {

}
.unlikebutton-draw:focus {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
	outline: none;
}




.count-draw {
	font-size: .6em;
	padding: 1px;
	clear: both;
	color: black;
}
.count-draw span {
	font-weight: bold;
}







/*--------------------------------------- Login ---------------------------------------*/
/*--------------------------------------- Login ---------------------------------------*/
/*--------------------------------------- Login ---------------------------------------*/






.logindivback {
	background-color: black;
	width: 60%;
	margin: 30px auto;
	border: solid #272822 1px;
	border-radius: 3px;
}
.logindiv {
	height: 146px;
	font-family: 'Slackey', cursive;
	font-size: 2vw;
	background-color: #E5602E;
	text-align: center;
	padding: 15px 5px 5px 5px;
	border: solid black 5px;
	border-radius: 20px;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.login input[placeholder="Username"] {
	width: 80%;
	margin-bottom: 10px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	background-color: white;
	border: solid #E4412C 5px;
	border-radius: 20px;
	transition-duration: 500ms;
}
.login input[placeholder="Username"]:focus {
	border: solid white 5px;
	color: black;
	outline: none;
}



.login input[placeholder="Password"] {
	width: 80%;
	margin-bottom: 10px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	background-color: white;
	border: solid #E4412C 5px;
	border-radius: 20px;
	transition-duration: 500ms;
}
.login input[placeholder="Password"]:focus {
	border: solid white 5px;
	color: black;
	outline: none;
}


.login input[type="Submit"] {
	margin: 2px;
	width: 30%;
	text-decoration: none;
	color: black;
	transition-duration: 300ms;
	text-align: center;
	background-color: white;
	border: solid #E4412C 5px;
	border-radius: 20px;
	transition-duration: 500ms;


}
.login input[type="Submit"]:hover {
	outline: none;
	border: solid white 5px;
}
.login input[type="Submit"]:focus {
	outline: none;
	border: solid white 5px;
}




/*--------------------------------------- Archives ---------------------------------------*/
/*--------------------------------------- Archives ---------------------------------------*/
/*--------------------------------------- Archives ---------------------------------------*/



.aheaderback {
	background-color: black;
	width: 60%;
	margin: 60px auto 0 auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.aheader {
	text-align: center;
	background-color: #E4412C;
	padding: 10px;
	border: solid black 5px;
	border-radius: 20px;
	font-size: 1.2em;
}
.asubheader {
	font-size: .5em;
}

.archivebuttonsback {
	background-color: black;
	width: 95%;
	margin: 5px auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.archivebuttons {
	text-align: center;
	background-color: #E4412C;
	padding: 10px;
	border: solid black 5px;
	border-radius: 20px;
}

.archive_button {
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 50px 2px 50px;
	padding: 3px 0px 3px 0px; 
	width: 170px;
	font-size: .8em;
	text-decoration: none;
	color: black;
	transition-duration: 300ms;
}
.archive_button:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
}
.archive_button:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}


.archiveback {
	background-color: black;
	width: 95%;
	margin: 5px auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.archive {
	text-align: center;
	background-color: #E4412C;
	padding: 20px 0px 20px 0px;
	border: solid black 5px;
	border-radius: 20px;
}

.archiveby {
	font-size: 10px;
	text-align: center;
	color: black;
}





/*--------------------------------------- Sign Up ---------------------------------------*/
/*--------------------------------------- Sign Up ---------------------------------------*/
/*--------------------------------------- Sign Up ---------------------------------------*/






.signupform {
	text-align: center;
}
.explain {
	font-size: .5em;
	color: #D7D4D7;
}
.signupform input {
	margin-bottom: 10px;
	padding: 5px;
	border: solid black 5px;
	transition-duration: 300ms;
}
.signupform input:focus {
	border: solid #FDAF69 5px;
	color: black;
	outline: none;
}
.signupform input[type="Submit"] {
	font-family: 'Montserrat Alternates', sans-serif;
	display: block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	padding: 3px 20px 3px 10px; 
	width: 100px;
	margin: 2px auto;
	font-size: .8em;
	text-decoration: none;
	color: black;
	margin-bottom: 60px;
	transition-duration: 300ms;
}
.signupform input[type="Submit"]:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}
.signupform input[type="Submit"]:visited {
}
.signupform input[type="Submit"]:visited:hover {
}
.signupform input[type="Submit"]:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}


}





