/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #424142;
	font-family: 'Montserrat Alternates', sans-serif;
	color: white;
}


.topback {
	background-color: black;
	width: 35%;
	margin: 30px auto;
	border: solid #272822 1px;
	border-radius: 3px;
}
.top {
	font-family: 'Slackey', cursive;
	font-size: 2vw;
	background-color: #F9662E;
	text-align: center;
	padding: 15px 5px 15px 5px;
	border: solid black 5px;
	border-radius: 20px;

   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.top h1 {
	margin: 0

}

.cornerback {
	position: absolute;
	left: 10px;
	top: 10px;	
	width: 120px;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.corner {
	background-color: #424142;
	border: solid black 5px;
	border-radius: 20px;
}

.boxes {
	display: block;
	margin: 5px;
	text-align: center;
	text-decoration: none;
	color: white;
	transition-duration: .3s;
}

.boxes:hover {
	color: #D7D391;
	/*box-shadow: 0 0 0 4px #75B391;*/
}
.boxes:focus {
	color: #D7D391;
	/*box-shadow: 0 0 0 4px #75B391;*/
	outline: none;
}










.mainback {
	background-color: black;
	width: 80%;
	margin: 0 auto;
	border-radius: 3px;
	border: solid #272822 1px;
}
.main {
	background-color: #F9442C;
	padding: 20px;
	border: solid black 5px;
	border-radius: 20px;
}

.header {
	text-align: center;
}















/*--------------------------------------- Parent Description ---------------------------------------*/
.pdesback {	
	background-color: #FBAF6F;
	width: 80%;
	margin: 30px auto;
	border: solid #D7D391 1px;
	border-radius: 3px;
}
.pdes {
	font-size: 3.5vw;	
	font-weight: bolder;
	text-shadow: 0 0 6px #D7D391;
	text-align: center;
	padding: 10px 10px 10px 10px;
	background-color: #F9442C;
	border: solid #FBAF6F 5px;
	border-radius: 20px;

}




.drawdiv {
	text-align: center;
	margin: 10px auto;
}
.drawdiv h2 {
	text-align: center;
	margin-top: 60px;

}

.cdrawboxback {
	display: inline-block;
	margin: 5px;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.cdrawbox {
	background-color: #F9662E;
	text-align: center;
	border: solid black 5px;
	border-radius: 3px 3px 20px 20px;
}
.cdraw {
	height: 200px;
	border-bottom: solid black 2px;
}



.stat {
	float: left;
	display: inline-block;
	padding-left: 15px; 
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	text-shadow: 0 0 6px white;
}

.likebutton {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 10px 2px 0;
	padding: 3px 10px 3px 10px; 
	width: 30%;
	font-size: .8em;
	text-decoration: none;
	color: black;
/*	box-shadow: -3px -2px 8px white inset;
*/	transition-duration: 200ms;


}
.likebutton:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}

.likebutton:visited {

}

.likebutton:visited:hover {

}
.likebutton:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}


.unlikebutton {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 10px 2px 0;
	padding: 3px 10px 3px 10px; 
	width: 30%;
	font-size: .8em;
	text-decoration: none;
	color: black;
	transition-duration: 200ms;


}
.unlikebutton:hover {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
}

.unlikebutton:visited {

}

.unlikebutton:visited:hover {

}
.unlikebutton:focus {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
	outline: none;
}




.count {
	font-size: .7em;
	padding: 2px;
	clear: both;
	color: black;
}
.count span {
	font-weight: bold;
}

















.logindivback {
	background-color: black;
	width: 35%;
	margin: 30px auto;
	border: solid #272822 1px;
	border-radius: 3px;
}
.logindiv {
	height: 146px;
	font-family: 'Slackey', cursive;
	font-size: 2vw;
	background-color: #F9662E;
	text-align: center;
	padding: 15px 5px 15px 5px;
	border: solid black 5px;
	border-radius: 20px;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.login input[placeholder="Username"] {
	width: 50%;
	margin-bottom: 10px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	background-color: white;
	border: solid #F9442C 5px;
	border-radius: 20px;
	transition-duration: 500ms;
}
.login input[placeholder="Username"]:focus {
	border: solid white 5px;
	color: black;
	outline: none;
}



.login input[placeholder="Password"] {
	width: 50%;
	margin-bottom: 10px;
	text-align: center;
	padding: 10px 10px 10px 10px;
	background-color: white;
	border: solid #F9442C 5px;
	border-radius: 20px;
	transition-duration: 500ms;
}
.login input[placeholder="Password"]:focus {
	border: solid white 5px;
	color: black;
	outline: none;
}


.login input[type="Submit"] {
	margin: 2px;
	width: 30%;
	text-decoration: none;
	color: black;
	transition-duration: 200ms;
	text-align: center;
	background-color: white;
	border: solid #F9442C 5px;
	border-radius: 20px;
	transition-duration: 500ms;


}
.login input[type="Submit"]:hover {
	outline: none;
	border: solid white 5px;
}
.login input[type="Submit"]:focus {
	outline: none;
	border: solid white 5px;
}




/*
	box-shadow: 0 0 0 4px #75B391;
*/


































/*--------------------------------------- Parent Drawing ---------------------------------------*/



.pdrawback {
	text-align: center;
}
.pdraw {
	display: inline-block;
	margin: 30px;
	background-color: #FBAF6F;
	border: solid #D7D391 1px;
	border-radius: 3px;
}
.pdraw img {
	border: solid #FBAF6F 5px;
	border-radius: 20px;
	margin-bottom: -3px;
}






.desdiv {
	text-align: center;
	margin: 10px auto;
}
.desdiv h2 {
	text-align: center;
	margin-top: 60px;

}

.cdesboxback {
	display: inline-block;
	margin: 5px 5px 50px 5px;
	width: 85%;
	background-color: black;
	border: solid #272822 1px;
	border-radius: 3px;
}
.cdesbox {
}
.cdes {
	float: left;
	width: 80%;
	height: 100%;
	background-color: #F9662E;
	text-align: left;
	border: solid black 5px;
	border-radius: 20px;
}


.cdeslike {
	float: right;
	width: 100px;
	height: 100%;
	background-color: #F9662E;
	text-align: left;
	border: solid black 5px;
	border-radius: 20px;}
.stat {
	float: left;
	display: inline-block;
	padding-left: 15px; 
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	text-shadow: 0 0 6px white;
}

.likebutton {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 10px 2px 0;
	padding: 3px 10px 3px 10px; 
	width: 60px;
	font-size: .8em;
	text-decoration: none;
	color: black;
/*	box-shadow: -3px -2px 8px white inset;
*/	transition-duration: 200ms;


}
.likebutton:hover {
	background-color: white;
	border: solid #FBAF6F 3px;
	    /*box-shadow: 1px 2px 8px #424142 inset;*/
}

.likebutton:visited {

}

.likebutton:visited:hover {

}
.likebutton:focus {
	background-color: white;
	border: solid #FBAF6F 3px;
	outline: none;
}


.unlikebutton {
	float: right;
	display: inline-block;
	background-color: #D7D4D7;
	border: solid grey 3px;
	border-radius: 10px;
	margin: 2px 10px 2px 0;
	padding: 3px 10px 3px 10px; 
	width: 60px;
	font-size: .8em;
	text-decoration: none;
	color: black;
	transition-duration: 200ms;


}
.unlikebutton:hover {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
}

.unlikebutton:visited {

}

.unlikebutton:visited:hover {

}
.unlikebutton:focus {
	background-color: #D7D4D7;
	border: solid #FBAF6F 3px;
	outline: none;
}




.count {
	font-size: .7em;
	padding: 2px;
	color: black;
}
.count span {
	font-weight: bold;
}

